body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $main-font-size;
    font-family: "Alegreya Sans", "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif;
    background: $main-color;
    color: $sec-color;
}
h2 {
    font-weight: normal;
}
.settings-content {
    max-width: 45em;
    margin: 0 auto;
    margin-top: 5em;
}

.message {
    background: $red;
    color: white;
    padding: 0.2em;
    text-align: center;
}
#gameContent {
    padding: 2em;
    height: 100vh;
    text-align: center;
    .btn-container {
        margin-top: 10em;
    }
    .player-div {
        border: 1px solid #000;
    }
    button {
        background: white;
        color: $sec-color;
        border: 5px solid $sec-color;
    }
}
.time-left {
    font-size: 2em;
}
.current-player {
    font-size: 3em;
}
button {
    font-family: $main-font-family;
    font-weight: bold;
    font-size: 1.1em;
    padding: 1rem;
    min-width: 17rem;
    margin-top: 2rem;
    text-align: center;
    background-color: $sec-color;
    color: white;
    border-radius: 1rem;
    border: 0;
}
